<div class="xl:h-auto bg-secondary h-11 text-primary shadow-sm">
  <div class="xl:px-8 xl:py-4">
    <div class="xl:hidden absolute left-0 p-2 flex flex-row gap-8">
      <SiteLink class="decoration-warning underline-offset-4" href="/">Home</SiteLink>
      <label
        for="search__toggle"
        class="cursor-pointer text-primary/80 hover:text-white"
        >Search</label
      >
      <ThemeToggle />
    </div>
    <input class="hidden peer/navigation" id="nav__toggle" type="checkbox" />
    <label
      class="xl:hidden p-2 pointer-events-all absolute right-0 w-10 h-10 rounded-full flex z-50"
      for="nav__toggle"
    >
      <span class="w-4 h-4 leading-4 m-auto text-2xl text-primary">☰</span>
    </label>
    <nav
      class="absolute bg-secondary p-4 xl:p-0 xl:relative w-full transition-all -translate-y-full xl:translate-y-0 peer-checked/navigation:translate-y-0 flex flex-col gap-4 lg:gap-8 lg:flex-row"
    >
      <div
        class="xl:w-full flex flex-col flex-wrap xl:flex-row xl:justify-between gap-4 text-base"
      >
        <div class="grid xl:flex xl:flex-row gap-4 xl:gap-8 xl:mr-auto">
          <Navigation class="decoration-warning underline-offset-4 text-primary/90 hover:text-white" />
        </div>
        <div class="grid xl:flex xl:flex-row gap-4 xl:gap-8 xl:ml-auto">
          <label
            for="search__toggle"
            class="cursor-pointer text-primary/80 hover:text-white hidden xl:inline"
            >Search</label
          >
          <ThemeToggle class="hidden xl:flex" />
        </div>
      </div>
      <div
        class="xl:hidden"
        &visibleIf="(and (get props aside) (get props showAside))"
        &children="(get props aside)"
      />
    </nav>
  </div>
</div>
